# WebRTC TURN Server Configuration (Optional)
# If not provided, CareerGuru defaults to Google public STUN server (stun:stun.l.google.com:19302)
VITE_TURN_URL=
VITE_TURN_USERNAME=
VITE_TURN_CREDENTIAL=
